body {
    font-family: Consolas;
}

#app {
    max-width: 640px;
    margin: 64px auto;
}

.list-group-item-action {
    cursor: pointer;
}

.btn-success {
    width: 100px;
    margin: 10px auto;
    border-radius: 5px;
}
